.hidden {
  display: none;
}

img {
  width: 100%;
}
#greeting {
  font: small-caps bold 24px/1 sans-serif;
  font-weight: bold 300;
}
#clock {
  font-size: smaller;
  color: burlywood;
}
#nameandclock {
  display: flex;
  justify-content: space-between;
}
